@page
@model HR_WorkFlow.Pages.Module.Manage.EmpModel


<body>
    <form method="post">
        @Model.EMP_No
        <input class="form-control" asp-for="EMP_No">
        <button asp-page-handler="Clear" class="btn btn-outline-primary">清除</button>
        <button type="submit">asdf</button>
    </form>
    <script>
    </script>
</body>

